
form{
max-width: 35rem;
padding-bottom: 85px;

label{
    display: block;
}
textarea{
    width: 100%;
    max-width:35rem;
    max-height: 20vh;
}
}
.form-label{
    font-weight: 600;
    margin-top: 1rem;
}
.form-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.form-button,
.form-button-active,
.form-input,
.formInputSmall{
    width: 100%;
    padding: 0.9rem 3rem;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.5);
}
.form-button-active{
    background-color: #00cc66;
    color: #ffffff;
}
.device-features{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    input{
        outline: none;
        border: none;
        padding: 0.5rem 0.3rem;
        width: 3.5rem;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.5);
    }


    select{
        outline: none;
        padding:0.5rem 0.3rem;
        border-radius: 20px;
        border: none;
        width: 5rem;
        cursor: pointer;
        box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.5);
    }
}

.price-input{
    padding: 0.9rem 3rem;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.5);
}

.form-image::-webkit-file-upload-button {
    background-color: #00cc66;
    border: none;
    color: #ffffff;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    margin-right: 1rem;
    cursor: pointer;
     opacity: 1;
     transition: all 0.3s ease-in-out;
&:hover{
    opacity: 0.8;
}
    }


   .primary-button{

    width: 20rem;
    margin: 2rem auto;
   } 

   .formLatLng{
    display: flex;
    gap:2rem
   }