.container{
    display: flex;
    flex-direction: column;
    padding-bottom:10rem;
    header{
        font-size: 2rem;
        font-weight: 800;
        margin-top: 2rem;
    }

    ul{
        list-style-type: none;
    }
}

.load-button{
    border: none;
    cursor: pointer;
    padding: 0.7rem 0.9rem;
    width: 10rem;
    background-color: #bd3434;
    margin:0 auto;
    border-radius: 20px;
    color:#fff;
    font-size: 1.2rem;
    opacity: 0.9;
    transition: all 0.4s ease ;
    &:hover{
        opacity: 1;
        background-color: #881212;
    }
}