.navbar-container{
    position: fixed;
    left: 0;
    bottom:0 ;
    right: 0;
    height: 80px;
    background-color: white;
    color:#807d7d;
    margin-top: 2rem;

}
.navBar{
    z-index: 1;




    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    
        text-align: center;
        
   
       p{
   
        margin: 0;
       }
    }

}
.icon{

  font-size: 2rem;
  cursor: pointer;


}
.active{
    color:black;
    font-weight: 800;
}