.slider-container{
justify-content: center;
}

header{
  p{
    font-size: 1.2rem;
    font-weight: 800;
  }
}
.swiper-container {
  display: flex;

    min-height: 400px;
    height: 26vw;
width: 100%;
 margin-left: 0;
 margin-right: 0;
 

 z-index: 0 !important;
 
 
}
.swiper-wrapper{
flex-shrink: 100 !important;
  }
  .swiperSlide{
    display: flex;
    justify-content: center;
    width: fit-content;
  
  cursor: pointer;
  }
.swiper-slides{
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-direction: column;
position: relative;
   width: 70%;
   height: 100%;
   border-radius: 20px;
   opacity: 1;
   transition: all 0.4s ease-in;
   filter: grayscale(0%);
 
   -webkit-filter: grayscale(0%);
   &:hover{

    filter: none;
    -webkit-filter: grayscale(50%);

   }

}

.product-name{
background-color:rgba(230, 224, 224, 0.4);
position: fixed;
top: 10;
bottom:50px;
left:10px;
padding: 0.4rem 0.8rem;
border-radius: 20px;
font-weight: 700;
}
.product-price{
  background-color:rgba(230, 224, 224, 0.4);
  position: fixed;
  top: 10;
  left:10px;
  bottom:10px;
  padding: 0.4rem 0.8rem; 
  border-radius: 20px;
  font-weight: 700;
  
}